*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.menu-h{
  background-color: rgb(37, 37, 39);
}

.menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

.menu-h ul li {
  display: inline;
}

.menu-h ul li a {
  color: #FFF;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  white-space: nowrap;

}

.dropdown-ul{
  height: 40px;
  display: flex;
}

.dropdown:hover .dropdown-content {
  display: block;
}
