<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Pontos</th>
        <th>V-E-D</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of dados.data.standings">
        <td class="box-color {{ color(d.stats[10].displayValue) }}"></td>
        <td class="text-center">{{d.stats[10].displayValue}}°</td>
        <td class="text-right">
          <img src="{{d.team.logos[0].href}}" class="escudo">
        </td>
        <td>{{d.team.name}}</td>
        <td class="text-center"><b>{{d.stats[2].value}}</b></td>
        <td class="text-center">{{d.stats[12].displayValue}}</td>
      </tr>
    </tbody>
  </table>
</div>
